*.sqlite3
*.swp
*.mo
.env
*~
.ve
.ve2
*.pyc
__pycache__
.pytest_cache/
media
.coverage
htmlcov
docs/_build
.cache/*
.pytest_cache/
.hypothesis/*
geckodriver.log
ghostdriver.log
src/
airflow/logs
data/
airflow/airflow-webserver.pid
